ul.bylines-list {
	li {
		border: 1px solid #ddd;
		background-color: #FFF;
		padding-top: 7px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		position: relative;
		max-width: 250px;
		.byline-remove {
			display: none;
		}
		&.ui-sortable-helper {
			cursor: pointer;
		}
	}
	&.bylines-current-user-can-assign li:hover {
		cursor: pointer;
	}
	&.bylines-current-user-can-assign .byline-remove {
		position: absolute;
		right: 5px;
		width: 16px;
		z-index: 1;
		top: 50%;
		transform: translateY(-50%);
		.dashicons {
			height: 16px;
			width: 16px;
			font-size: 16px;
		}
	}
}

.form-field {
	&.term-description-wrap {
		display: none;
	}
}

.bylines-select2-user-select {
	min-width: 150px;
}

.column-byline_name {
	img {
		float: left;
		margin-right: 10px;
		margin-top: 1px;
	}
}
